:root{
    --white-color:#FDFDFD;
    --black-color:#000;
    --main-color:#262626;
    --secondary-color:#eee;
    --h-font:'Raleway', sans-serif;
    --p-font:'Roboto', sans-serif;
}

*:hover,
*:focus,
*:active{
    outline: none;
    text-decoration: none;
}


html{
    font-size: 62.5%;//10px
    scroll-behavior: smooth;
}
body{
    font-family: var(--p-font);
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: var(--h-font);
}


#hero-area{
  width: 100%;
  height: 100vh;
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  .main-nav{
    //border: 1px solid black;
    
  }
  .hero-wrapper{
    //border: 1px solid black;
    margin: auto 0;
    .hero-heading{
      //border: 1px solid black;
      h1{
        text-align: center;
        font-size: 6rem;
        font-weight: 700;
        color: var(--white-color);
        text-transform: uppercase;
        letter-spacing: .1rem;
      }
      p{
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        color: var(--white-color);

      }

    }

  }
}




//it will start working at 992px-1199px
@media screen and(max-width:1199px){
    html{
      font-size: 56.25%;//9px
    }
  }
  
//it will start working at 768px-991px
@media screen and(max-width:991px){
    html{
      font-size: 50%;//8px
    }
    
  
  }
//it will start working at 576px-767px
@media screen and(max-width:767px){
    html{
      font-size: 43.75%;//7px
    }

}
   
//it will start working at 50px-575px
@media screen and(max-width:575px){
  html{
      font-size: 37.5%;//6px
  }


}